.el-button.rect{ 
  background-image: url("../../assets/com/rectangle.png") !important;
  background-size: cover !important;
}
.circle{
    background-image: url("../../assets/com/circle.png") !important;
    background-size: cover !important;
}
.triangle{
    background-image: url("../../assets/com/triangle.png") !important;
    background-size: cover !important;
}
.input{ 
  background-image: url("../../assets/com/input.png") !important;
  background-size: cover !important;
}
.radio{
    background-image: url("../../assets/com/radio.png") !important;
    background-size: cover !important;
}
.checkbox{
    background-image: url("../../assets/com/checkbox.png") !important;
    background-size: cover !important;
}
.switch{ 
  background-image: url("../../assets/com/switch.png") !important;
  background-size: cover !important;
}
.option{
    background-image: url("../../assets/com/option.png") !important;
    background-size: cover !important;
}
.buttonbox{
    background-image: url("../../assets/com/button.png") !important;
    background-size: cover !important;
}
.imgbox{ 
  background-image: url("../../assets/com/imgbox.png") !important;
  background-size: cover !important;
}
.carousel{
    background-image: url("../../assets/com/avator.png") !important;
    background-size: cover !important;
}
.tag{
    background-image: url("../../assets/com/tag.png") !important;
    background-size: cover !important;
}